@charset "UTF-8";

/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

body {
  font-family: Lato;
  background-color: #010101;
  color: #fff;
}

h1,h2 {
  font-family: Raleway;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}

.github-icon {
  fill: #94a3b8;
  transition: fill .3s;
}

.github-icon:hover {
  fill: #fff;
}

.avatar-icon {
  border-radius: 50%;
}

.dropdown-caret {
  display: inline-block;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  border-left: 3px solid transparent;
  border-top: 3px solid transparent;
  width: 0;
  height: 0;
  transform: translateY(-50%) rotate(45deg);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 15px 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  display: inline-block;
}

.header__menu {
  display: flex;
}

.header__menu__item {
  margin-left: 16px;
  position: relative;
  cursor: pointer;
}

.header__menu__item:first-child {
  margin-left: 0;
}

.header__menu__item details summary {
  list-style: none;
}

.header__menu__item summary:hover .dropdown-caret {
  opacity: .7;
}

.dropdown-box {
  padding: 5px 0;
  border-radius: 5px;
  width: 180px;
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  z-index: 100;
  background-color: #fff;
  color: #333;
  margin-top: 5px;
}

.dropdown-box__divider {
  border-top: 1px solid #d0d7de;
  margin: 8px 0;
}

.dropdown-box__item {
  display: block;
  padding: 5px 10px;
  transition: all .3s;
}

.dropdown-box__item:hover {
  background-color: #94a3b8;
  color: #fff;
}